html {
  font-family: "Roboto", sans-serif !important;
}

main {
  height: 100%;
}

.form {
  border-radius: 5px;
  background-color: white;
  max-width: 500px;
  margin: auto 0;
}

.form .form-control {
  padding: 10px;
}

footer {
  background-color: white;
  width: 100%;
  padding: 10px 0;
}